<h1 *ngIf="loading">Loading table data...</h1>
<mat-table [dataSource]="ITdatasource" class="mat-elevation-z8" *ngIf="!filtered">

<!-- Name Column -->
<ng-container matColumnDef="Pname">
<mat-header-cell *matHeaderCellDef> Plant Name </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.Pname}} </mat-cell>
</ng-container>

<!-- Distance Column -->
<ng-container matColumnDef="distance">
<mat-header-cell *matHeaderCellDef> Distance (Km) </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.distance}} </mat-cell>
</ng-container>

<!-- Date Column -->
<ng-container matColumnDef="date">
<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.date}} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="ITdisplayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: ITdisplayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="datalength"  *ngIf="!filtered" (page)="getNearbyReports($event)" [pageSize]="8" showFirstLastButtons></mat-paginator>

<mat-table [dataSource]="ITdatasource" class="mat-elevation-z8" *ngIf="filtered" style="min-height: 250px;">

<!-- Name Column -->
<ng-container matColumnDef="Pname">
<mat-header-cell *matHeaderCellDef> Plant Name </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.Pname}} </mat-cell>
</ng-container>


<ng-container matColumnDef="Infliction">
<mat-header-cell *matHeaderCellDef> Infliction </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.Infliction}} </mat-cell>
</ng-container>

<ng-container matColumnDef="NeuralNetRating">
<mat-header-cell *matHeaderCellDef> Neuralnet Rating </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.NeuralNetRating}} </mat-cell>
</ng-container>

<!-- Date Column -->
<ng-container matColumnDef="date">
<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
<mat-cell *matCellDef="let element" (click)="viewReport(element.ID)" style="cursor: pointer;"> {{element.date}} </mat-cell>
</ng-container>

<mat-header-row *matHeaderRowDef="ITdisplayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: ITdisplayedColumns;"></mat-row>
</mat-table>
