
form{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 1% 1% 1% 1%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    
  }