<div [style.background-color]="currentStyle=='Dark'?'#1d1d47':'#66a6ff'">
    <div class="flex-container" fxLayout="row">
        <div fxFlex fxLayoutAlign="center">
            <button type="button" class="btn btn-dark btn-block" *ngIf="DeviceType=='Desktop'" (click)="toggleDevice()">Mobile
                version</button>
            <button type="button" class="btn btn-dark btn-block" *ngIf="DeviceType=='Mobile'" (click)="toggleDevice()">Desktop version</button>
        </div>
    </div>
</div>