<h1>Welcome to FABI-Surveillance</h1>
<p>We are currently still under development but feel free to use the functionality we have in place</p>
<a class="btn btn-primary" (click)="diagreport()" style="color: white;">Submit diagnosis report</a>

<!-- Testing camera functionality -->
<div class="col-12">
    <div class="row" *ngIf="!showWebcam">
        <div class="col-8" style="text-align: center;">
            <div class="snapshot"  *ngIf="webcamImage">
                <h3>Specimen Preview</h3>
                <img style ="width: 90%;border: black solid 2px;" [src]="webcamImage.imageAsDataUrl"/>
              </div>
        </div>
    <br/>
</div>
<div class="row">
    <div class="col-8">
        <webcam 
        [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        [imageQuality]="1"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)">
        </webcam>
    </div>

</div>
<div class="row">
    <br/>
    <div class="col-6" *ngIf="showWebcam"><button class="btn btn-primary" (click)="triggerSnapshot();toggleWebcam();"><i class="fa fa-camera"></i> Take photo</button></div>
    <div class="col-6"*ngIf="showWebcam"><button class="btn btn-primary" (click)="toggleWebcam();">Toggle Webcam</button></div>
    <div class="col-8 offset-sm-3"*ngIf="!showWebcam"><button class="btn btn-primary" (click)="toggleWebcam();">Toggle Webcam</button></div>
</div>

<div class="row">
    <div class="col-3" *ngif="multipleWebcamsAvailable">
        <button class="btn btn-primary" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
        <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
        DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
        <button (click)="showNextWebcam(deviceId);">Activate</button>
    </div>
</div>
</div>
<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error}}</li>
</ul>