#desktopmap,#mobilemap {
    width: 100%;
    margin-bottom: 10px;
   }
#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}
#DisplayArea{
    background-color: white;
}
#displayTbl img{
    width: 100%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    cursor: pointer;
}
body {
    background: url(assets/cool-background.png) no-repeat fixed;
    background-size: cover;
}
.picsum-img-wrapper{
    text-align: center;
    max-height: 650px;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.mat-row:hover {
    background-color: grey;
}

@media (max-width: 600px){
    .mobileCarousel{
        outline: none;
        max-height: 650px;
        max-width: 550px;
    }

    .picsum-img-wrapper{
        text-align: center;
        max-height: 650px;
        max-width: 550px;
    }

    img{
        max-height: 650px;
        max-width: 550px;        
    }
}

