<div id="full-container">
<div class="header" style="border: 1px solid black">
    <span>
        <button class="btn btn-success" style="margin-left: 5px;" routerLink="">Back</button>
        <h2>Search for Diagnostic Reports</h2>
    </span>
</div>

<div id="wrapper">
    <div id="left-filter-div">
        <h2 class>Filter Reports</h2>
        <form>
            <div class="form-group">
                <label>Plant Name</label><br>
                <!--text box-->
                <label>Report Status</label><br>
                <!--drop down-->
                <label>Distance from position</label><br>
                <!--slider for distance-->
                <label>List of symptoms</label><br>
                <!--input text field-->
                <button class="btn btn-success" style="margin-left: 5px;">Apply Filters</button>
            </div>
        </form>
    </div>
    
    <div id="right-disply-div">
        <h2>Reports:</h2>
        <form>
            
        </form>
    </div>
</div>
</div>