img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 50%;
}

.Title {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 2rem;
  line-height: 110%;
  display: inline-block;
  font-size: 2rem;
  line-height: 110%;
}

label {
    margin: 3px;
}

textarea {
    margin: 5px;
    width: 90%;
}

#wrapper {
  width: 100%;
  height: 90%;
  overflow:auto;
  position: relative;
  display: flex;
}

#full-container {
  width: 100%;
  height: 100%;
  float: left;
  vertical-align: top;
}

#left-filter-div {
  float: left;
  margin: 0 0 0 0;
  width: 20%;
  height: 100%;
}

#right-disply-div {
  border: 1px transparent black;
  vertical-align:top;
  margin: 0 0 0 0;
  width: 80%;
  overflow-y: auto;
  height: 100%;
  text-align: center;
}

#distance {
    position: absolute;
    height: auto;
    margin: 1em;
    width: 18%;
}
.pull-right {
    margin-right: 2.5%;
}

.report {
    float: left;
    width: 15%;
    height: 15em;
    margin: 1em 1em 1em 1em;
    border: 2px solid black;
    border-radius: 25px;
    text-align: left;
}

.header {
  float: left;
  text-align: center;
  background-color: #228b22;
  width: 100%;
  display: flex;
}

footer {
  padding: 20px;
  height: 2em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.btn:hover {
  background-color: #3e8e41;  
  margin-left: 5px;
}