<div fxLayout="column" fxLayoutAlign="space-evenly" fxLayout.xl="row">
        <div fxFlex="40">
            <mat-card>
                <mat-card-title>
                    <div class="row">
                        <div class="col">
                            Plant Name:
                        </div>
                        <div class="col">
                            <!-- currentMark.Pname -->
                        </div>
                    </div>
                </mat-card-title>
                <br>
                <mat-card-title>
                    <div class="row">
                        <div class="col">
                            Infliction type:
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>
                </mat-card-title>
                <br>
                <mat-card-title>
                    <div class="row">
                        <div class="col">
                            Accuracy of marker:
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>
                </mat-card-title>
                <br>
                <mat-card-title>
                    <div class="row">
                        <div class="col">
                            Image accuracy score:
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>
                </mat-card-title>                
            </mat-card>
                <br><br>
            <mat-card>
                <mat-card-title>
                    <div class="row">
                        <div class="col">
                            Specialist diagnosis:
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            Awaiting review
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Reason:
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>

                    
                </mat-card-title>
                <mat-card-content>
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="40">
            <ngb-carousel style="background-color: dar;height: 650px;outline: none;">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <!--  <img src="{{currentMark['Img1']}}" alt="Random first slide" style="max-height: 650px;"> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <!--  <img src="{{currentMark['Img2']}}" alt="Random second slide" style="max-height: 650px;"> -->
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <!--  <img src="{{currentMark['Img3']}}" alt="Random third slide" style="max-height: 650px;"> -->
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>