<div style="background-color:lightslategray;height:100%">
    <app-header></app-header>
    <br>
    <mat-drawer-container class="drawer-container" style="background-color:lightslategray;width:100%;height:100%">
        <mat-drawer #drawer mode="over" style="width: 500px;background-color:lightslategray;">
            <app-filter></app-filter>
        </mat-drawer>
        
        <button type="button" mat-button (click)="drawer.toggle()">
            Filter
        </button>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between">
    
            <div fxFlex="40">
                <app-search-reports class="unselectable"></app-search-reports>
            </div>
            <div fxFlex="45">
                <app-view-report></app-view-report>
            </div>
        </div>
    </mat-drawer-container>

    <br><br>
    
    <br>

    <br>
</div>