@media (min-width: 768px), all {
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
  }
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

