<table mat-table [dataSource]="pests" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Scientific Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Scientific Name </th>
    <td mat-cell *matCellDef="let element"> {{element.scientificName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Common Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Common Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Affected Plant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Affected Plant </th>
    <td mat-cell *matCellDef="let element"> {{element.plant}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Add pest &nbsp;
      <button mat-mini-fab type="button" color="primary" mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab type="button" color="accent" mat-button (click)="updatePest(element.id)">
        <mat-icon>input</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-mini-fab type="button" color="warn" class="delButton" mat-button (click)="deletePest(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>