.mat-typography {
    width: 100%;
}

.Mycontainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-position: center;
    background: url("../../assets/back.jpg") no-repeat;
    background-size: cover;
}

.register-box {
    text-align: center;
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.3);
    opacity: 0.7;
}

.register-box h1{
    float: left;
    left: 50%;
    font-size: 40px;
    border-bottom: 6px solid green;
    margin-bottom: 30px;
    padding: 13px 0;
}

.form-control {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid green;
}
